[*.cs]

# CS8604: Possibile argomento di riferimento Null.
dotnet_diagnostic.CS8604.severity = none

# CS8625: Non è possibile convertire il valore letterale Null in tipo riferimento che non ammette i valori Null.
dotnet_diagnostic.CS8625.severity = none

# CS8618: Il campo non nullable deve contenere un valore non Null all'uscita dal costruttore. Provare a dichiararlo come nullable.
dotnet_diagnostic.CS8618.severity = none

# CS8600: Conversione del valore letterale Null o di un possibile valore Null in un tipo che non ammette i valori Null.
dotnet_diagnostic.CS8600.severity = none

# CS8622: Il supporto dei valori Null dei tipi riferimento nel tipo di parametro non corrisponde al delegato di destinazione, probabilmente a causa degli attributi del supporto dei valori Null.
dotnet_diagnostic.CS8622.severity = none

# CS8603: Possibile restituzione di riferimento Null.
dotnet_diagnostic.CS8603.severity = none
